@layer components{
  .app-bg-color{
    background: #F9f5f1;
  }
  .btn-bg-color{
    background:#EB5757;
  }
  .btn-bg-color-not-allowed{
    background:rgba(235, 87, 87, .6);
  }
  .font-bg-color{
    color:#111111;
  }
  .navbar-start{
    @apply w-full lg:h-16 flex justify-center items-center pt-6;
  }
  .navbar-end{
    @apply w-full max-w-7xl py-3 2xl:px-0 px-4 flex justify-start items-center font-serif tracking-wider font-bg-color lg:text-2xl text-xl;
  }
  .inputField{
    @apply w-full bg-white px-4 py-2 rounded-lg border-2 border-gray-100 focus:shadow-xl focus:outline-none focus:border-transparent
  }
  .secondaryButton{
    @apply py-2 text-center border-2 border-gray-400 font-bg-color rounded-lg text-sm;
  }
  .submitButton{
    @apply w-full py-2 rounded-lg text-center btn-bg-color text-white hover:shadow-lg;
  }
}