@layer components{

/*

  Custom Colors Section

*/
  .btn-bg-color{
    background:#EB5757;
  }
  .btn-bg-opacityh:hover{
    background:rgba(235,87,87,0.5);
    color:"#000000";
  }
  .btn-bg-opacity{
    background:rgba(235,87,87,0.5);
  }
  .btn-bg-dark{
    background:#d44e4e;
  }
  .nav-bg-color{
    background: rgb(248, 242, 239);
  }
  .font-bg-color{
    color:#111111;
  }
  .border-clr {
  --tw-border-opacity: 1;
  border-color: rgba(235,87,87, var(--tw-border-opacity));
}
.custom-shape-divider-bottom-1637175221 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637175221 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1637175221 .shape-fill {
    fill: #EB5757;
}
}