@layer components{

/*

  Custom Colors Section

*/
  .btn-bg-color{
    background:#EB5757;
  }
  .btn-bg-dark{
    background:#d44e4e;
  }
  .nav-bg-color{
    background: rgb(248, 242, 239);
  }
  .font-bg-color{
    color:#111111;
  }
  .border-clr {
  --tw-border-opacity: 1;
  border-color: rgba(235,87,87, var(--tw-border-opacity));
}
}