@layer components{
.app-bg-color{
  background: #FFFEFC;
}
.btn-bg-color{
  background:#EB5757;
}
.font-bg-color{
  color:#111111;
}
.sub-pg-title{
  @apply lg:text-5xl text-xl font-bg-color text-center font-black lg:mb-14 mb-4;
}
.sub-card-title{
  @apply font-bg-color font-bold lg:text-3xl text-lg mb-2;
}
.nav-welcome-btn-no-bg{
  @apply lg:w-32 w-20 lg:px-7 px-5 lg:py-1 flex justify-center items-center lg:mr-6 mr-2 border-b-2 border-white border-opacity-0 lg:hover:border-opacity-95;
}
.nav-login-btn-w-bg{
  @apply lg:w-32 w-20 lg:px-7 px-5 lg:py-1 py-1 tracking-wide rounded-full btn-bg-color flex justify-center items-center ;
}
.feature-grid{
  @apply max-w-7xl w-screen app-bg-color flex-col justify-center items-center lg:mt-20 mt-10;
}
.getting-strd-cont{
  @apply lg:font-semibold lg:text-2xl text-sm font-bg-color;
}
.getting-strd-grid{
  @apply lg:w-1/2 w-full list-disc h-auto flex-col justify-start items-start text-left lg:text-left lg:px-8 lg:pb-8 px-14
}
.getting-strd-grid-parent{
  @apply w-full lg:flex flex-col lg:flex-row justify-center items-center;
}
.getting-strd{
  @apply flex flex-col justify-center items-center lg:mt-20;
}
.data-bg-grid{
  @apply flex flex-col justify-center items-center lg:mt-20 mt-10;
}
}
